i.*
i_*
_i*
old.*
old_*
*.pyc
.idea
.run

~$*

data/instructions
data/rsa_key
data/ocr

.DS_Store
node_modules
package-lock.json

*node_modules.zip

htpasswd
passwd

config-local.*

pre-commit-hook.sh

/*.svg

data/pg_*
pdf2svg.sh

celerybeat-schedule
user_upload_docs_fortest

utie
usage_example
pdfparser
bert
calliper_diff
utensils
docx

bank.json.*
output*
draw_label.py
*/script/*.json

cached_pdf/
abs_label_answer/

lian_hang_hao.json
faulty_wordings_with_hidden.json

config-usr.yml
*.c

static/
